@font-face {
    font-family: PPMori;
    font-weight: regular;
    src: url(../assets/fonts/PPMori/PPMori-Regular.otf);
}
@font-face {
    font-family: PPMori;
    font-weight: bold;
    src: url(../assets/fonts/PPMori/PPMori-SemiBold.otf);
}